{% extends 'base.html.twig' %}
{% block body %}
    <div class="page-header">
        <h1>
            Liste des recettes
        </h1>
    </div>    
    <ul>
    {% for project in projects %}
        <li><a href="projects/{{ project }}">{{ project }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}

