{% extends 'base.html.twig' %}
{% block body %}
    <h1>Projet {{ project.name }}</h1>
    
    <div class="page-header">
        <h2>Recette</h2>
    </div>
    <textarea name="deploy_file" id="deploy_file" rows="35" cols="120">{{ project.deploy_file_content }}</textarea>
    <button type="button" class="btn btn-lg btn-default" id="update_recipe" data-ref="{{ project.name }}">Mettre à jour</button>
    
    
     <div class="page-header">
        <h2>Actions</h2>
      </div>
      <p>
        <button type="button" class="btn btn-lg btn-success">Déployer en recette</button>
        <button type="button" class="btn btn-lg btn-warning">Rollback en recette</button>
      </p>
      <p>
        <button type="button" class="btn btn-lg btn-success">Déployer en prod</button>
        <button type="button" class="btn btn-lg btn-warning">Rollback en prod</button>
      </p>
      <p>
          Action manuelle : commande à exécuter
      </p>

{% endblock %}

